*.fif
*.csv
*.pickle
*.pyc
*.pickle
.DS_Store
.DS_Store?
*.DS_Store
*.png
*.bkp
*.dtmp
.DS_Store
**/.DS_Store
docs/build/html/*
dist/
meg_qc/settings/*
check/run_megqc.py
check/settings.ini
check/settings_internal.ini
